/* Reset */
p {
  margin: 0;
}

/* CSS */
body {
  margin: auto auto;
  text-align: center;
}

#calculator {
  margin-top: 10%;
  padding: 15px;
  border: 2px solid black;
  border-radius: 20px;
  display: inline-block;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Display Part */
#display {
  font-family: 'Iceland', cursive;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 25px;
  background: rgba(121, 207, 9, 0.8);
  max-width: 402px;
}


#display .history {
  height: 123px;
  display: table-cell; 
  vertical-align: bottom;
  width: 400px;
}

#display .container {
  max-height: 123px;
  width: 100%;
  overflow: auto;
}


#display .previousResult {
  height: 40px;
  text-align: right;
  font-size: 30px;
  border-top: 1px solid rgb(104, 92, 92);
  display: block;
  padding-right: 15px;
}

#display .expression {
  border-top: 1px solid rgb(0, 0, 0);
  font-size: 72px;
  height: 70px;
  text-align: right;
  padding-right: 10px;
}


/* Buttons Part */
#buttons {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 50px);

}